@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --primary-color: #1e3163;
}

body {
  text-align: center;
  background-color: skyblue;
  height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 65%;
  background: red;
  margin: 1rem auto;
  border-radius: 2.5rem;
}

header h1 {
  text-align: center;
  padding: 2rem;
}

.input-label {
  display: block;
  font-size: larger;
  margin: 2rem 0px;
  font-weight: 600;
}

main {
  width: 65%;

  margin: 1rem auto;
  border: 5px solid var(--primary-color);
  background-color: lightseagreen;
  padding: 0.5rem 1rem;
  border-radius: 2.5rem;
}

.input {
  font-size: large;
  display: block;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem auto;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 325px;
}

.btn-check {
  background: var(--primary-color);
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: auto;
  display: block;
}

.btn-check:hover {
  text-decoration: underline;
}

.output {
  font-size: x-large;
  font-weight: 600;
  margin: 2rem 0;
  padding: 0.5rem;
  border-radius: 1rem;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: royalblue;
  text-align: center;
  width: 65%;
  margin: 1rem auto 0 auto;
  border-radius: 2.5rem;
}

footer p {
  font-size: large;
  text-align: center;
}

.footer-list {
  margin: 1rem;
}
footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

a,
img,
li {
  display: inline;
}

img {
  width: 35px;
  padding: 0.5rem 0.2rem;
}
